<div class="text-center container">
<div class="search w-25 m-5 " >
  <div class="input-group" >
    <input type="text" class="form-control" placeholder="Search Product" name="search" [(ngModel)]="search">
    <div class="input-group-append">
      <button class="btn btn-info" (click)="searchname()" type="button">
        <i class="fa fa-fw fa-search"></i>
      </button>
    </div>
  </div>
</div>
</div>

<h1 class="text-center text-danger ">Add Friends</h1>

<div class="container mt-5">
      <div   *ngFor="let user of Users">

        <div class="shadow" *ngIf="user.firstname != yourname" >
          <div>
<!--            <div>-->
<!--              <img src="{{user.image}}" class="img-circle" width="60px">-->
<!--            </div>-->
<!--            <div class="col-sm-8 ">-->
<!--              <h4><a class="ml-5 text-primary d-flex align-content-center">{{user.firstname}} {{user.lastname}}</a></h4>-->

<!--            </div>-->
<!--            <div class="col-sm-2">-->
<!--             <div class="btn btn-primary" (click)="follow(user.userid)">Follow</div>-->

<!--            </div>-->
            <div  class="d-flex justify-content-between align-items-center">
            <img src="{{user.image}}" class="img-circle ml-3" width="60px">
              <div class="align-items-center">
            {{user.firstname}} {{user.lastname}}
              </div>
            <div class="btn btn-primary btn-lg mr-3" (click)="follow(user.userid)">Follow</div>
            </div>
          </div>

        </div>
      </div>
   </div>
