<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="image_outer_container">
      <div class="green_icon"></div>
      <div class="image_inner_container">
        <img src="{{list.follower.image}}">
      </div>
    </div>
  </div>
</div>
<h1 class="text-center">{{list.following.firstname}} {{list.following.lastname}}</h1>

<div class="text-center">

        <ul class="container details">
          <li><p><span class="glyphicon glyphicon-earphone one" style="width:50px;"></span>{{list.following.phnno}}</p></li>
          <li><p><span class="glyphicon glyphicon-envelope one" style="width:50px;"></span>{{list.following.email}}</p></li>

        </ul>

</div>



<div *ngFor="let b of Blogs">

  <div class="container-fluid">
    <div class="preview">
      <div [ngStyle]="{ 'background-image': 'url(' + b.blogimage + ')'}" class="thumb"></div>
      <div class="content">
        <h2>{{b.blogname}}</h2>

        <p>{{b.blogheading}}</p>
        <a (click)="displaydetails(b.blogid)">Read Now</a>
        <div class="mt-4">
          <div class="d-flex">
            <div class="mr-3" (click)="addlikes(b.blogid)"> <i class="material-icons">
              thumb_up
            </i> <p>{{b.likes}}</p></div>
            <div (click)="adddislikes(b.blogid)"> <i class="material-icons">
              thumb_down
            </i><p>{{b.dislikes}}</p></div>
          </div>
        </div>
        <div class="d-flex"> <i>written By:-</i><b>{{b.users.firstname}} {{b.users.lastname}}</b></div>
      </div>
    </div>
  </div>

</div>
