



<div class="container bg-dark p-5 ">
  <div class="row">
    <div class="col-sm-2 col-md-2 text-center">
      <img src="{{Profile.image}}"
           alt="" class="img-rounded img-responsive" />
      <p class="font text-white mt-3">{{Profile.firstname}} {{Profile.lastname}}</p>
      <button class="m-4 btn-lg btn-success  "><a class="text-white" href="https://github.com/rahul6660357" >Profile</a></button>
    </div>
    <div class="col-sm-4 col-md-4 text-dark">



      <div class="well">
        <ul class="nav nav-tabs">
          <li class="active font"><a href="#home" data-toggle="tab">Profile</a></li>
          <li><a class="font" href="#profile" data-toggle="tab">Update Password</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane active in" id="home">
            <form id="tab">
              <div class="font1">FirstName</div>
              <input type="text" [(ngModel)]="Profile.firstname" value="{{Profile.firstname}}" class="input-xlarge font form-control" name="firstname" placeholder="FirstName" >
              <div class="font1">LastName</div>
              <input type="text" [(ngModel)]="Profile.lastname" value="{{Profile.lastname}}" class="input-xlarge font form-control" name="lastname" placeholder="Lastname" >
              <div class="font1">Email</div>

              <input type="email" [(ngModel)]="Profile.email" value="{{Profile.email}}" class="input-xlarge font form-control" name="email" placeholder="Email" >
              <div class="font1">Password</div>
              <input type="password" value="{{Profile.password}}" class="input-xlarge form-control font" disabled>
              <div class="font1">Phone number</div>
              <input type="text" [(ngModel)]="Profile.phnno" value="{{Profile.phnno}}" class="input-xlarge font form-control" name="phnno" placeholder="PhnNo" >
              <div class="font1">Add Bio</div>
              <input type="text" [(ngModel)]="Profile.bio" value="{{Profile.bio}}" class="input-xlarge font form-control" name="bio" placeholder="bio" >
              <div style="margin: 24px 0;">
                <a class="btn btn-secondary btn-sm ml-2 font1" style="border-radius: 50%" href="https://www.linkedin.com/in/rahul-sharma-843b4b189/" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a class="btn btn-dark btn-sm ml-2 font1" style="border-radius: 50%" href="https://github.com/rahul6660357" target="_blank"><i class="fa fa-github"></i></a>
                <a class="btn btn-primary btn-sm ml-2 font1"  style="border-radius: 50%" rel="publisher"
                   href="https://www.facebook.com/profile.php?id=100012080981452">
                  <i class="fa fa-facebook"></i>
                </a>
                <a class="btn btn-danger btn-sm ml-2 font1" style="border-radius: 50%" href="https://medium.com/@rahulsharma6660357" target="_blank"><i class="fa fa-medium"></i></a>
              </div>
              <div>
                <button class="btn btn-primary mt-3 font1" (click)="UpdateUser()">Update</button>
              </div>
            </form>
          </div>
          <div class="tab-pane fade" id="profile">
            <form id="tab2">
              <div>Recent Password</div>
              <input type="password" class="input-xlarge form-control" [(ngModel)]="recentpassword">

              <div>New Password</div>
              <input type="password" class="input-xlarge form-control" name="password" value="{{Profile.password}}"  [(ngModel)]="Profile.password">
              <div>

                <div class="d-flex font"><div> Status:-</div><div class="text-success" *ngIf="Profile.active == 1; else elseBlock">Active</div>
                  <ng-template #elseBlock>Inactive</ng-template>
                </div>
                <div>
                  <button class="btn btn-primary" (click)="UpdateUser()">Update</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>


  </div>
</div>
