
<div class="d-flex ">
  <div class="w-75">
<div class="search w-25 m-5" >
  <div class="input-group" >
    <input type="text" class="form-control" placeholder="Search Product" name="search" [(ngModel)]="search">
    <div class="input-group-append">
      <button class="btn btn-info" (click)="searchname()" type="button">
        <i class="fa fa-fw fa-search"></i>
      </button>
    </div>
  </div>
</div>
    <div class="nav-item nav-link">Category : <select (change)="selectChangeHandler($event)">
      <option>Select</option>
      <option value="technology">Technology</option>
      <option value="food">Food</option>
      <option value="Quote">Quotes</option>
      <option value="Cloths">Cloths</option>
      <option value="Travel">Travel</option>
    </select>
    </div>

<div *ngFor="let b of Blogs">

<div class="container-fluid">
  <div class="preview">
    <div [ngStyle]="{ 'background-image': 'url(' + b.blogimage + ')'}" class="thumb"></div>
    <div class="content">
      <h2>{{b.blogname}}</h2>

      <p>{{b.blogheading}}</p>
      <a (click)="displaydetails(b.blogid)">Read Now</a>
      <div class="mt-4">
        <div class="d-flex">
    <div class="mr-3" (click)="addlikes(b.blogid)"> <i class="material-icons">
thumb_up
</i> <p>{{b.likes}}</p></div>
       <div (click)="adddislikes(b.blogid)"> <i class="material-icons">
thumb_down
        </i><p>{{b.dislikes}}</p></div>
        </div>
      </div>
      <div class="d-flex"> <i>written By:-</i><b>{{b.users.firstname}} {{b.users.lastname}}</b></div>
      <p *ngIf="b.users.firstname == yourname" class="text-danger" style="cursor: pointer"  (click)="deleteblog(b.blogid)">Delete Blog</p>

    </div>
  </div>
</div>

</div>
  </div>
  <div class="w-25">

    <div class="container ">

      <div class="text-center text-danger"><h4>Your Friends</h4></div>
      <ul id='friend-list' *ngFor="let user of FollowUsers" (click)="Friendsdetail(user.followingid)">
        <li class='friend ' *ngIf="user.following.firstname != yourname">
          <img src="{{user.following.image}}" />
          <div class='name'>
            {{user.following.firstname}} {{user.following.lastname}}
          </div>
        </li>

      </ul>


    </div>
  </div>

</div>
